*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
    background-color: white;
}
/*Importeren van custom fonts ©Google Fonts*/
@font-face {
    font-family: Dancing;
    src: url(../Font/DancingScript-Regular.ttf);
}
@font-face {
    font-family: Courgette;
    src: url(../Font/Courgette-Regular.ttf);
}
/*Einde importeren fonts*/

/*Eigen stijlen toekennen aan standaardelementen selectie*/
::selection
{
    color: #b10917;
    background-color: #303063;
}
/*Einde toekennen eigen stijlen*/


/*navigatiebalk*/
nav
{
    width: 100%;
    background-color: #383872;
    height: 60px;
}
nav p 
{
    float: left;
    color: white;
    padding-top: 10px;
    margin-left: 10px;
    font-family: Dancing;
    font-size: 30px;
}
nav a
{
    display: none;
}

.smartphone-nav
{
    display: none;
    width: 100%;
    position: fixed;
    background-color: #383872;
}
.smartphone-nav a
{
    background-color: #383872;
    color: white;
    text-decoration: none;
    width: 100%;
    float: right;
    text-align: center;
    border-style: solid;
    border-width: 3pt;
    border-color: #303063;
    height: 50px;
    padding-top: 13px;
    font-family: Dancing;
    font-size: large;
    margin-top: -5px;
}
.hamburger
{
    position: absolute;
    height: 60px;
    top: 20px;
    right: 15px;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    display: flex;
}
.hamburger .bar
{
    height: 3px;
    width: 100%;
    background-color: white;
}
.bar
{
    border-radius: 10pt;
}
/*einde navigatiebalk*/

/*Pagina*/
#wrapper
{
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -8px;
}
.bannerwide
{
    display: none;
}
.bannersmall
{
    width: 100%;
}

/*Evenementen*/
.Title
{
    margin-top: 15px;
    font-family: Courgette;
    text-align: center;
    color: #303063;
    font-size: 35px;
}
.DateOfEvent
{
    margin-top: 30px;
    font-family: courgette;
    color: #b10917;
    margin-left: 15px;
    margin-bottom: 10px;
}
.description h1
{
    color: #b10917;
    font-family: courgette;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}
hr
{
    background-color: #303063;
    width: 95%;
    height: 3pt;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
    border-radius: 10pt;
}
.underline
{
    background-color: #b10917;
    width: 70%;
    height: 3pt;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-style: none;
    border-radius: 10pt;
}
.description p
{
    color: #303063;
    font-family: Courgette;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 5px;
}
.description a
{
    text-decoration: none;
    color: #303063;
    font-family: courgette;
    text-align: center;
    font-weight: bold;
}
.event img
{
    margin-top: 15px;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10pt;
}
/*Einde van evenementen*/

/*Tradities */

.text h1 {
    color: #b10917;
    font-family: courgette;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.text p {
    color: #303063;
    font-family: Courgette;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.Kant , .Handmade , .Reuzencultuur , .Kermiscultuur {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.AllTradities .Kant img , .AllTradities .Reuzencultuur img {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5pt;
}

.AllTradities .Handmade img, .AllTradities .Kermiscultuur img {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5pt;
}
/*Einde tradities*/

/*Over*/

.Informatie p {
    color: #303063;
    font-family: Courgette;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.Info1 , .Info2 , .Info3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.AllInformation .Info2 img {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5pt;
} 

/*Einde over*/

#footer
{
    margin-top: 25px;
    height: 40px;
    text-align: center;
    width: 100%;
    font-family: courgette;
    color: #b10917;
    font-weight: bold;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

/*Bezienswaardigheden*/
.location
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.location h1
{
    padding-top: 20px;
    padding-bottom: 10px;
    color: #b10917;
    font-family: courgette;
    clear: both;
    /*probleem met titels, uitleg aan mevrouw vragen*/
}

.location p
{
    display: block;
    margin-top: 20px;
    color: #303063;
    font-family: Courgette;
    width: 100%;
    float: left;
}
.marked
{
    text-decoration: underline;
}

.location img, .maps
{
    width: 100%;
    border-radius: 15pt;
    display: block;
}
.maps
{
    padding-top: 15px;
    height: 200px;
    border-style: none;
}

/*hotel*/
.hotel
{
    padding: 16px;
    border-radius: 3px;
    border-style: solid;
    border-width: 2pt;
    border-color: #303063;
    border-radius: 10pt;
    margin: 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: courgette;
}

.photo img
{
   display: none;
}

.content
{
    display: block;
}

.top-row
{
    display: block;
}

.main 
{
    width: 80%;
    float: left;
}

.hotel-name
{
    color: #b10917;
    font-size:x-large;
    text-decoration: none;
    float: left;
}

.star-rating
{
    float: left;
}

.hotel-info
{
    clear: both;
    line-height: 30px;
    margin-top: 40px;
}
.review
{
    display: flex;
    order: 2;
    flex-grow: 1;
    text-align: right;
    margin-left: 20px;
    width: auto;
    flex-direction: column;
    justify-content: space-between;
}

.score .badge
{
    float: right;
    color: #b10917;
    font-weight: bold;
    font-size: 30px;
}

.price
{
    display: none;
}

.price_green
{
    color: green;
    font-weight: bold;
    font-size: xx-large;
}
.button-row button
{

   display: none;
}
.button-row button:hover
{
  background-color: #4a4a92;
  cursor: pointer;
}

.credit img
{
    float: left;
    margin-left: 15px;
}
