*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

/*Importeren van custom fonts ©Google Fonts*/
@font-face {
    font-family: Dancing;
    src: url(../Font/DancingScript-Regular.ttf);
}
@font-face {
    font-family: Courgette;
    src: url(../Font/Courgette-Regular.ttf);
}

/*Einde importeren fonts*/

/*Eigen stijlen toekennen aan standaardelementen selectie*/
::selection
{
    color: white;
    background-color: #4a4a92;
}
/*Einde toekennen eigen stijlen*/
/*navigatiebalk*/
nav
{
    width: 100%;
    background-color: #303063;
    height: 50px;
}
nav p 
{
    float: left;
    color: white;
    padding-top: 10px;
    margin-left: 10px;
    font-family: Dancing;
    font-size: 25px;
}
nav a
{
    color: white;
    text-decoration: none;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    height: 50px;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: Dancing;
    font-size: 20px;
}
nav a:hover
{
    background-color: #4a4a92;
    transition: 1s;
}
nav .current
{
    border-bottom: solid;
    border-color: #b10917;
    border-width: 3pt;
}
.smartphone-nav
{
    display: none;
}
/*einde navigatiebalk*/
.hamburger
{
    display: none;
}
#wrapper
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.950);
    margin-top: -8px;
}
.bannerwide
{
    width: 100%;
}
.bannersmall
{
    display: none;
}




.Title
{
    font-family: Courgette;
    text-align: center;
    color: #303063;
    font-size: 45px;
}
/*Evenementen*/
.event
{
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.allevents
{
    display: block;
}
.event img
{
    width: 30%;
    border-radius: 15pt;
    
}
.event img:hover
{
    transition: 1s;
    scale: 1.05;
}
.event .description
{
    display: block;
    float: right;
    width: 70%;
}
.event .description h1
{
    color: #b10917;
    font-family: courgette;
    font-size: 1.8vw;
    text-align: center;
    margin-top: 10px;
}
.event .description p
{
    color: #303063;
    font-family: Courgette;
    font-size: 1.1vw;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: auto;
    margin-bottom: auto;
}
hr
{
    background-color: #303063;
    width: 100%;
    height: 3pt;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 5pt;
}
.underline
{
    background-color: #b10917;
    width: 50%;
    height: 3pt;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
/*Einde van evenementen*/

/*Traditites*/
.AllTradities {
    display: block;
}

.text {
    display: block;
    float: right;
    width: 70%;
}

.text h1 {
    color: #b10917;
    font-family: courgette;
    font-size: 1.8vw;
    text-align: center;
    margin-top: 10px;
}

.text p {
    color: #303063;
    font-family: Courgette;
    font-size: 1.1vw;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.Kant , .Handmade , .Reuzencultuur , .Kermiscultuur {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

.AllTradities .Kant img , .AllTradities .Reuzencultuur img {
    width: 30%;
    float: right;
    border-radius: 15pt;
    
}

.AllTradities .Handmade img, .AllTradities .Kermiscultuur img {
    width: 30%;
    float: left;
    border-radius: 15pt;
    
}

.AllTradities img:hover {
    transition: 1s;
    scale: 1.05;
}
/*einde tradities*/

/*Bezienswaardigheden*/
.alllocations
{
    padding-top: 50px;
}
.location
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.location h1
{
    padding-top: 50px;
    padding-bottom: 10px;
    color: #b10917;
    font-family: courgette;
    clear: both;
    /*probleem met titels, uitleg aan mevrouw vragen*/
}

.location p
{
    display: block;
    margin-top: 20px;
    color: #303063;
    font-family: Courgette;
    font-size: 1.1vw;
    width: 60%;
    float: left;
}
.marked
{
    text-decoration: underline;
}

.location img
{
    width: 100%;
    border-radius: 15pt;
    display: block;
}
.maps
{
    margin-top: 20px;
    display: block;
    width: 40%;
    height: 18vw;
    border-radius: 15pt;
    border-style: none;
    float: right;
}
#footer
{
    margin-top: 50px;
    text-align: center;
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: courgette;
    color: #b10917;
    font-weight: bold;
}